.home {
  display: flex;

  .homeContainer {
    width: 85%;
    background-color: white; //Need to Fix

    .container{

      .widgets{
        display: flex;
        padding: 20px;
        gap: 20px;
      }
      
      .charts {
        padding: 5px 20px;
        flex-direction: row;
        flex: 1;
        display: flex;
        padding: 20px;
        gap: 20px;
      }
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
        transition: all 0.3s;
  
        .listTitle {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.home .homeContainer .container{
  flex-direction: column;
  display: flex;
}

.home .homeContainer .listContainer:hover{
  box-shadow: 2px 4px 10px 7px rgba(201, 201, 201, 0.47);
}

@media screen and (max-width: 1500px) {
  .home .homeContainer .widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .home .homeContainer .widgets .widget {
    flex: 0 0 calc(50% - 30px); 
  }

  .home .homeContainer .charts{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {

  .home .homeContainer .widgets .widget {
    flex: 0 0 calc(100% - 30px); 
  }
  
  .home .homeContainer .container .charts {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}