.widget {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw; // Utilizar unidades de medida relativas, como vw (viewport width) o vh (viewport height)
  box-shadow: 0.2vw 0.4vw 1vw 0.2vw rgba(0, 0, 0, 0.47); // Utilizar unidades de medida relativas para la sombra
  border-radius: 1vw; // Utilizar unidades de medida relativas para el radio del borde
  transition: all 0.3s;
  background-color: white;

  .left {
    display: flex;
    .lefts {
      display: flex;
      flex-direction: column;
    }
    .title {
      font-weight: bold;
      font-size: 1.5vw; // Utilizar unidades de medida relativas para el tamaño del título
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .icon {
      padding: 0.5vw;
      align-items: center;
      display: flex;
      font-size: 4vw; // Utilizar unidades de medida relativas para el tamaño del icono
    }

    .counter {
      font-size: 1.3vw; // Utilizar unidades de medida relativas para el tamaño de la descripción
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .right {
    display: flex;
    align-items: flex-end;
    .link {
      width: 100%;
      font-size: 1vw; // Utilizar unidades de medida relativas para el tamaño del enlace
      border-bottom: 0.1vw solid gray; // Utilizar unidades de medida relativas para el grosor del borde
      padding-right: 1.5vw; // Utilizar unidades de medida relativas para el espaciado
    }

    .icon {
      width: auto;
      font-size: 1.5vw;
      border-radius: 0.5vw;
    }
  }
}

.widget:hover {
  box-shadow: 0.2vw 0.4vw 1vw 0.5vw rgba(201, 201, 201, 0.47); // Utilizar unidades de medida relativas para la sombra en el estado hover
  transform: scale(1.03);
}
