/* reportes.scss */
div.titulo{

  p{
      font-size: 50px;
      font-weight: 700;
  }
}

.container {
  display: flex;
}

.chart-container {
    width: 400px; /* Ancho de los contenedores de los gráficos */
    height: 300px; /* Altura de los contenedores de los gráficos */
    margin-bottom: 20px; /* Margen inferior entre los contenedores */
  }
  
  canvas {
    border: 1px solid #ddd; /* Borde del elemento canvas */
    border-radius: 5px; /* Borde redondeado */
  }
  