* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;

  .homeContainer {
    display: flex;
    flex-direction: column;

    .container{
      display: flex;
      flex-direction: column;

      .widgets{
        display: flex;
        padding: 20px;
        gap: 20px;
        flex: 1;

        .widget{
          
        }
      }
      
      .charts {
        display: flex;
        gap: 20px;
        flex: 1;
        padding: 5px 20px;
      }
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
      transition: all 0.3s;
      flex: 1;


      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
        flex: 1;
      }
    }
  }
}

.home .homeContainer .container .listContainer:hover{
  box-shadow: 2px 4px 10px 7px rgba(201, 201, 201, 0.47);
}

@media screen and (max-width: 1500px) {
  .home .homeContainer .container .widgets {
    display: flex;
    flex-wrap: wrap;
  }

  .home .homeContainer .container .widgets .widget {
    flex: 0 0 calc(50% - 30px); 
  }
}

@media screen and (max-width: 1000px) {
  .home .homeContainer{
  }
  
  .home .homeContainer .container .charts {
    display: flex;
    flex-direction: column;
  }

  .home .homeContainer .container .widgets .widget {
    flex: 1 1 calc(100% - 30px); 
  }
}
