.assignment-form {
    position: relative;
    font-size: 28px; /* Tama침o de fuente m치s grande */

    .section1 {
        display: flex;

        .section2 {
            width: 85%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;

            .top-section {
                text-align: center;
                margin-bottom: 20px;

                h2 {
                    margin: 0;
                }
            }

            .row {
                display: flex;
                margin-bottom: 20px;

                .column {
                    flex: 1;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        text-align: center;
                    }

                    input[type='text'],
                    input[type='password'],
                    textarea,
                    input[type='date'] {
                        width: 100%;
                        padding: 10px; /* Aumentar el relleno */
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 24px; /* Tama침o de fuente para los campos de texto */
                    }

                    input[type='date']::-webkit-calendar-picker-indicator {
                        width: 32px; /* Ancho del icono del calendario */
                        height: 32px; /* Altura del icono del calendario */
                        padding: 8px; /* Aumenta el relleno */
                    }
                }

                .column:last-child {
                    margin-right: 0;
                }
            }

            .create-button {
                text-align: right;
                margin-top: 20px;
            }
        }
    }

    .boton {
        font-size: 28px;
        background-color: #4caf50;
        color: white;
        padding: 15px 30px; /* Aumentar el relleno */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .boton:hover {
        background-color: #45a049;
    }  

    input.input-large,
    textarea.input-large,
    input[type='date'].input-large {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center;
        font-size: 24px; /* Tama침o de fuente para los campos de texto */
    }
}
