.historiales-jefa {
  header {
    nav {
      // Estilos para el navbar
    }
  }

  .container {
    display: flex;

    .content-container {
      flex: 1;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

      .titulo {
        p {
          font-size: 50px;
          font-weight: 700;
        }
      }

      .content-table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-size: 16px;

        th, td {
          padding: 12px 15px;
        }

        th {
          background-color: black;
          text-align: left;
          color: white; // Cambia el color del texto del encabezado a blanco
        }

        tbody tr {
          background-color: white; // Fondo blanco para todas las filas de la tabla
        }

        tbody tr:last-child td {
          border-bottom: none;
        }

        tbody tr td a img.arrow {
          max-width: 20px;
          height: auto;
          vertical-align: middle;
        }
      }
    }
  }
}