body{

    .section2 {
        display: flex;
        flex-direction: column;
    
        .titulo {
            margin: 1% 0 0;
    
            p {
                font-size: 50px;
                font-weight: 700;
            }
        }
    
        .content-table {
            border-collapse: collapse;
            font-size: 0.9em;
            border-radius: 30px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            width: 100%; 
            opacity: 0;
            animation: appear 0.8s ease-in-out forwards;
    
            thead {
                
                tr {
                    background-color: black;
                    color: #ffffff;
                    text-align: left;
                    font-weight: bold;

                }
            }
    
            th,
            td {
                padding: 12px 15px; 
                text-align: center;
            }
    
            tbody {
                tr {
                    border-bottom: 1px solid #dddddd;
                    background-color: #f3f3f3;
                    line-height: 1.5; 
                    transition: all 0.3s;
    
                    &:last-of-type {
                        border-bottom: 2px solid black;
                    }
    
                    &:hover {
                        background-color: white;
                        transform: scale(1.002);
                    }
    
                    a {
                        display: flex;
                        justify-content: center;
                        cursor: default;
    
                        img {
                            width: 39px;
                            height: auto;
                            padding-top: 5px;
                            border-radius: 30px;
                            transition: all 0.3s;
                            cursor: pointer;
    
                            &:hover {
                                transform: translateX(5px); 
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes appear {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}