*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    padding: 3px;
    justify-content: space-between;
    background-color: #E5E5E5;
    
    .lista1{
        list-style: none;
        padding-left: 20px;
        
        .lista-elemento{
            
            a{

                .logo{
                    width: 150px;
                    height: auto;
                    transition: all 0.3s;
                    
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .lista2{
        display: flex;
        list-style: none;
        align-items: center;
        padding-right: 20px;

        .lista-elemento{
            padding-left: 50px;
            
            a{
                font-size: 20px;
                font-weight: 800;
                text-decoration: none;
                color: #3142D0;
                display: flex;
                transition: all 0.3s;

                &:hover{
                    transform: scale(1.1);
                }

                .profile-picture{
                    width: 45px;
                    height: auto;
                    border-radius: 50px;
                }
            }
        }
    }
}