/*Welcome*/
.info {
    display: flex;
    padding: 5%;
    justify-content: center;

    .logo {
        padding-right: 100px;

        img {
            width: 500px;
            height: auto;
            opacity: 0;
            animation: appear 1.3s ease-in-out forwards;
        }
    }

    .frase {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 70px;
            font-weight: 700;
            line-height: 120px;
            color: #3142D0;
            opacity: 0;
            animation: appear 1.2s ease-in-out forwards;
        }
    }
}

@keyframes appear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Section 2*/

.section-2 {
    background-color: white;
    font-family: 'Montserrat', sans-serif;

    .info-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .left {

            .left-texto {
                h1 {
                    font-weight: 600;
                    font-size: 30px;
                    color: #0c4e94;
                    padding: 20px;
                }

                p {
                    font-weight: 500;
                    font-size: 17px;
                    color: #3d4459;
                    padding: 20px;
                    line-height: 1.7;
                }
            }

            .left-panel {
                display: flex;
                flex-direction: column; /* Alinea los elementos en horizontal */
            
                .contenedor {
                    margin: 10px;
                    display: inline-block;
                    background-color: white;
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s ease;
                }
            }
            
            
        }

        .right {
            display: flex;
            align-items: center;

            .local {
                img {
                    width: 200px;
                    height: auto;
                    border-radius: 50px;
                }
            }
        }
    }
}

/*Footer*/
.footer{

    .container{

        .info{
            padding: 2%;

            p{
                text-align: center;
                line-height: 30px;
                font-size: 13px;
                opacity: 0.7;
            }
        }
    }
}



