.ajustes {
    display: flex;
    height: 100vh;
  
    .ajustesContainer {
      width: 85%;
      background-color: #F9F9F9; //Need to Fix
      .containers{
        height: 90vh;
        display: flex;
        .containerL{
          width: 50%;
          padding: 1vw;
          height: 100%; 
          .containersL{
            height: 100%; 
            .widgetsT{
              height: 15%;          
              flex-direction: column;
              display: flex;                     
              gap: 1.8vw;
              .widget{
                height: 85%;
                align-items: center;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              }
              .widget:hover{
                transform: scale(1);                
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
              }
            }    
            .widgetsB{
              height: 85%;          
              flex-direction: column;
              display: flex;      
              gap: 1vw;
              .widget{
                height: 30%;
                .left{
                  align-items: center;
                }
                .right{
                  align-items: center; 
                  .icon{
                    display: flex; /* Añadir esta línea */
                    justify-content: flex-end; /* Añadir esta línea */
                    font-size:3vw;
                    align-items: center;
                  }                 
                }
              }
            }
          }                
        }
        .containerR{
          width: 50%;
          padding: 1vw;          
          .ajustestituloR{
            height: 15%;          
            flex-direction: column;
            display: flex;              
              
            .ajustestitulo {
              justify-content: space-between;
              display: flex;
              box-shadow: 0.2vw 0.3vw 0.7vw 0.01vw rgba(0, 0, 0, 0.47); // Aplicar la sombra directamente aquí
              border-radius: 1vw;
              background-color: white;
              align-items: center;
              padding-left: 1.5vw;
              height: 85%;
              
              .iconR {
                margin-right: 2vw;
                display: flex;
                justify-content: flex-end;
              }
            
              h2 {
                font-size: 1.5vw;
              }
            }            
          }    
          .ajustesR{            
            display: flex;
            padding: 1.1vw;
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            border-radius: 1vw;
            background-color: white;
            height: 85%;
            flex-direction: column;
            display: flex;
            align-items: center;
            
            overflow-y: auto; // Agregar desplazamiento vertical
            .auditoriasContainer{ 
              width: 85%;           
              text-align: center;
              .auditoria {
                border: 0.2vw solid #ccc; // Define el borde y su grosor
                padding: 0.5vw; // Añade espacio interno para que el contenido no esté pegado al borde
                margin-bottom: 2vw; // Añade margen en la parte inferior
                h3{
                  font-size: 1.1vw;
                }
                span{
                  font-size: 1vw;
                }
                p{
                  font-size: 1vw;
                }
                .actions{
                  align-items: center;
                  display: flex; /* Establece el contenedor como flexbox */
                  justify-content: flex-end; /* Alinea los elementos al final del eje principal (horizontal) */
                  border-top: 0.2vw solid #ccc;
                  button{                    
                    font-weight: 600;
                    font-size:0.9vw;
                    margin: 0.5vw;
                    padding: 0.5vw;
                    margin-bottom: 0;
                    margin-right: 0;
                  }
                  p{
                    font-size: 1vw;
                  }
                }
              }
            }            
          }     
          .ajustesR.centered {               
            display: flex;
            justify-content: space-between;
            align-items: center;
          } 
        }
      }    
    }    
}
  
  
  
  