.inconformidades-page{

    body {
        background-color: #f2f2f2; /* Fondo gris claro */
        font-family: Arial, sans-serif;
        margin: 20px; /* Añade margen al cuerpo */
    }
    
    h1 {
        color: #333; /* Color del título principal */
        margin-bottom: 20px; /* Añade margen inferior al título */
    }
    
    table {
        width: 100%; /* Ancho del 60% para la tabla */
        border-collapse: collapse;
        border-radius: 10px; /* Redondea los bordes de la tabla */
        overflow: hidden; /* Oculta las esquinas redondeadas de las celdas */
        margin: 20px auto; /* Centra la tabla con margen superior e inferior */
    }
    
    caption {
        padding: 10px;
        font-weight: bold;
        color: #fff; /* Color del texto en el título de la tabla */
        background-color: #444; /* Color de fondo gris oscuro para el título de la tabla */
    }
    
    th, td {
        padding: 15px; /* Aumenta el espacio entre el contenido y los bordes */
        text-align: left;
        background-color: #fff; /* Fondo blanco para las celdas de la tabla */
    }
    
    th {
        color: #333; /* Color del texto en las celdas de encabezado */
    }
    
    /* Estilo para los botones de cambiar */
    .boton-cambiar {
        background-color: #000; /* Fondo negro */
        color: #fff; /* Texto blanco */
        padding: 10px; /* Espaciado interno */
        border: none; /* Sin borde */
        border-radius: 5px; /* Borde redondeado */
        cursor: pointer; /* Cursor apuntador */
    }
}