
.blue-button:hover {
    background-color: darkblue; /* Cambia el color al pasar el ratón sobre el botón */
}

.vigencias-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.blue-button {
    background-color: #4a90e2; /* Cambiamos el color a un azul más cálido */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Ajusta el margen entre botones si es necesario */
}


/* Comentamos esta regla para evitar que el color cambie al pasar el ratón sobre el botón
.blue-button:hover {
    background-color: darkblue; 
}
*/
