*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome{
 display: flex;
    .body{
        width: 85%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;

    }
}