.sidebar {
  width: 15%;
  min-height: 100vh;
  background-color: white;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;

  .top {
    height: 10%; /* Altura fija del contenedor */
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;

    .logo {
      width: auto;
      height: 50%; /* Ajusta automáticamente la altura para mantener la proporción */
      margin-right: 1vw;
    }
    .vet-text {
      font-size: 3vw; /* Ajusta el tamaño del texto "VET" */
      color: #57CC99; /* Cambia el color del texto según tus preferencias */
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    flex-grow: 1; /* Abarca todo el espacio restante */

    ul {
      list-style: none;
      margin: 0;
      padding-left: 1.5vw;
      width: 97%;

      .title {
        font-size: 1.5vw; /* Cambiado a unidad em */
        font-weight: bold;
        color: #36BDB2;
        margin-top: 1.2vw;
        margin-bottom: 0.5vw;
      }

      li {
        display: flex;
        align-items: center;
        padding: 0.5vw;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #ece8ff;
          transform: translateX(0.5vw);
          width: 100%;
        }

        .icon {
          font-size: 1.6vw; /* Cambiado a unidad em */
          color: #828282;
        }

        span {
          font-size: 1.6vw; /* Cambiado a unidad em */
          font-weight: 600;
          color: #828282;
          margin-left: 0.5vw;
        }
      }
    }

    .linea {
      border-top: 1px solid #ccc; /* Cambia el color de la línea según tus preferencias */
      margin-top: 10vw; /* Ajusta el margen superior e inferior de la línea */
    }
  }  

  @media (max-width: 1240px) {
    .center ul .title,
    .center ul li .icon,
    .center ul li span {
      font-size: 2vw; /* Ajusta el tamaño de la letra para resoluciones menores o iguales a 768px */
    }
    .top{
      
      padding-left: 2vw;
    }

    .center ul {
      padding-left: 1px; /* Ajusta el padding-left a 0 para resoluciones menores o iguales a 768px */
    }

    .center .linea{
      margin-top: 0; /* Ajusta el margin-top a 0 para resoluciones menores o iguales a 1024px */
    }
  }
}
